* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

#cards{
    margin: auto;
    margin-top: 1rem
}

#cards-player-creation{
    margin: auto;
    padding: 1rem;
}

#button-search{
    margin:auto;
    display: flex;
}

.button-creation{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
