<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Homepage Footix</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <div class="ui sizer vertical segment">
        <img class="ui centered medium image" src="/images/footix.png">
    </div>
</header>
<div class="button-creation">
    <a class="ui button" th:href="@{/player-creation}">Créer ton joueur</a>
    <a class="ui button" th:href="@{/club-creation}">Créer ton club</a>
</div>
    <div class="card">
<div class="ui card" th:each="player : ${players}" id="cards">

    <div class="image">
        <img th:src="${player.getImage()}">

    </div>
    <div class="content">
        <div class="header" th:text="|${player.firstName} ${player.lastName.toUpperCase()}|">FOOTIX</div>
        <div class="description">
            <p>Poste : <span th:text="${player.role.getName()}"> Attaquant</span></p>
            <p>Club : <span th:text="${player.club.name}"></span></p>
            <p>Age : <span th:text="|${player.getAge()} ans|">40 ans</span></p>
            <p>Particularité : <span th:text="${player.getCharacteristics()}"></span></p>
        </div>
    </div>
    <form method="post" action="/delete-player" class="delete">
        <input type="hidden" name="id" th:value="${player.id}">
        <input type="submit" value="Supprimer">
    </form>
</div>
</div>
</body>
</html>